html, body {
    background-color: #1a1b26;   
    height: 100vh;
    color: #a9b1d6;   
    position: relative;
    font-family: 'Overpass Mono', serif;
    margin: 0;
    padding: 0;
    display: grid;
}

a:link, a:visited {
    color: #4aa2f7;
    text-decoration: none;
    transition:.6s ease;
}

a:hover {
    color: #ffffff;
    text-shadow: 0 0 19px #7799ff;
    transition:.6s ease;
}

#i-use-arch-btw {
    font-family: 'Iosevka Web';
    padding: 40px;
    position: absolute;
    bottom: 0;
}

#container {
    display: flex;
}

#padding-div {
    padding: 40px;
}

#other {
    max-height: 100vh;
    overflow-y: scroll;
    flex-grow: 1;
}

#groot {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform:scale(-1);
    padding: 40px;
    font-size: 95px;
	background: linear-gradient(-45deg, #1a1b26, #101120, #1a1b26, #101120, #1a1b26);
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    height

}

p {
    font-family: 'Iosevka Web';
    font-size: 20px;
}

@keyframes gradient {
	0% { background-position: 0% 0%;
	}
	100% { background-position: 100% 100%;
	}
}
